.gw-tool-details-container:first-child {
    margin-top: 1rem;
}

.gw-tc-input { 
    width: 260px;
    // max-width:calc(100% - 150px);
}

.gw-tool-connection-tooltip {
    // font-size: 12px;
    // width: 100% !important;
    // max-width: 320px !important;
    margin-top: -16px !important;
    // background:#effcf6 !important;
    // color: black;
}