<section id="surefloWaterPVTSection" class="container-fluid px-4 pt-2">

    <form novalidate [formGroup]="surefloWaterPVTForm" autocomplete="off">

        <div class="row p-b-18">
            <span class="mat-subtitle-2">PVT Data</span>
        </div>

        <div class="container-fluid">

            <div class="row p-b-4">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Use Custom Water Properties</span>
                </div>
                <div class="col p-2">
                    <mat-slide-toggle formControlName="UseCustomWaterProperties" [disableRipple]="true"
                        color={{customWaterToggle.color}} (change)="toggleCustomWaterSection($event)"
                        disabled={{customWaterToggle.disabled}}>
                    </mat-slide-toggle>
                </div>
            </div>
        
            <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': !customWaterToggle.checked}">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Water FVF (rb/stb)</span>
                </div>
                <div class="col-2 px-sm-1">
                    <mat-form-field class="mat-input-small gw-sureflo-input-sm" appearance="fill"
                        [ngClass]="{'gw-sureflo-disable-input': useCustomWaterFVF}">
                        <input type="number" matInput formControlName="WaterFVF" name="WaterFVF" [disableControl]="useCustomWaterFVF || !customWaterToggle.checked"
                            class="gw-form-label form-baseline" (input)="validateFormControls()" (blur)="validateFormControls()">
                            <mat-hint *ngIf="formCtrlErrorMessage?.WaterFVF" class="mat-error">
                                {{formCtrlErrorMessage.WaterFVF}}
                            </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col px-0">
                    <span class="px-3">
                        <mat-checkbox [color]="checkbox.color"(change)="onUseWaterFVFChange($event)" [checked]="useCustomWaterFVF"
                            [disabled]="!customWaterToggle.checked">
                        </mat-checkbox>
                    </span>
                    <mat-form-field class="mat-input-small gw-sureflo-pvt-file-input" appearance="fill" [ngClass]="{'gw-sureflo-disable-input': !useCustomWaterFVF}">
                        <input id="waterVolFactorCalFile" name="WaterVolumeFactorCalibration" matInput
                            [value]="waterVolFactorCalFilePath" class="gw-form-label form-baseline" [disabled]="!useCustomWaterFVF || !customWaterToggle.checked"
                            (click)="browseFileDialog(waterVolFactorCalFile)">
                        <input #waterVolFactorCalFile hidden="true" type="file" multiple="false" accept=".cal"
                            (change)="onWaterVolFactorCalFileChange($event)" />
                        <mat-hint *ngIf="waterVolFactorInvalidMsg" class="mat-error">{{waterVolFactorInvalidMsg}}</mat-hint>
                    </mat-form-field>
                    <button type="button" mat-button class="mat-button mat-button-primary__icon-only"
                        (click)="browseFileDialog(waterVolFactorCalFile)" [disabled]="!useCustomWaterFVF || !customWaterToggle.checked">
                        <mat-icon class="mat-icon gw-primary-icon" [ngClass]="{'gw-sureflo-disable-input': !useCustomWaterFVF}">note_add</mat-icon>
                    </button>
                </div>
            </div>

            <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': !customWaterToggle.checked}">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Water Density (lb/ft3)</span>
                </div>
                <div class="col-2 px-sm-1">
                    <mat-form-field class="mat-input-small gw-sureflo-input-sm" appearance="fill"
                        [ngClass]="{'gw-sureflo-disable-input': useCustomWaterDensity}">
                        <input type="number" matInput formControlName="WaterDensity" name="WaterDensity" [disableControl]="useCustomWaterDensity || !customWaterToggle.checked"
                            class="gw-form-label form-baseline" (input)="validateFormControls()" (blur)="validateFormControls()">
                            <mat-hint *ngIf="formCtrlErrorMessage?.WaterDensity" class="mat-error">
                                {{formCtrlErrorMessage.WaterDensity}}
                            </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col px-0">
                    <span class="px-3">
                        <mat-checkbox [color]="checkbox.color"(change)="onUseWaterDensityChange($event)" [checked]="useCustomWaterDensity"
                            [disabled]="!customWaterToggle.checked">
                        </mat-checkbox>
                    </span>
                    <mat-form-field class="mat-input-small gw-sureflo-pvt-file-input" appearance="fill" [ngClass]="{'gw-sureflo-disable-input': !useCustomWaterDensity}">
                        <input id="waterDensityCalFile" name="WaterDensityCalibration" matInput
                            [value]="waterDensityCalFilePath" class="gw-form-label form-baseline" [disabled]="!useCustomWaterDensity || !customWaterToggle.checked"
                            (click)="browseFileDialog(waterDensityCalFile)">
                        <input #waterDensityCalFile hidden="true" type="file" multiple="false" accept=".cal"
                            (change)="onWaterDensityCalFileChange($event)" />
                        <mat-hint *ngIf="waterDensityInvalidMsg" class="mat-error">{{waterDensityInvalidMsg}}</mat-hint>
                    </mat-form-field>
                    <button type="button" mat-button class="mat-button mat-button-primary__icon-only"
                        (click)="browseFileDialog(waterDensityCalFile)" [disabled]="!useCustomWaterDensity || !customWaterToggle.checked">
                        <mat-icon class="mat-icon gw-primary-icon" [ngClass]="{'gw-sureflo-disable-input': !useCustomWaterDensity}">note_add</mat-icon>
                    </button>
                </div>
            </div>

            <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': !customWaterToggle.checked}">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Water Viscosity (cp)</span>
                </div>
                <div class="col-2 px-sm-1">
                    <mat-form-field class="mat-input-small gw-sureflo-input-sm" appearance="fill"
                        [ngClass]="{'gw-sureflo-disable-input': useCustomWaterViscosity}">
                        <input type="number" matInput formControlName="WaterViscosity" name="WaterViscosity" [disableControl]="useCustomWaterViscosity || !customWaterToggle.checked"
                            class="gw-form-label form-baseline" (input)="validateFormControls()" (blur)="validateFormControls()">
                            <mat-hint *ngIf="formCtrlErrorMessage?.WaterViscosity" class="mat-error">
                                {{formCtrlErrorMessage.WaterViscosity}}
                            </mat-hint>
                    </mat-form-field>
                </div>
                <div class="col px-0">
                    <span class="px-3">
                        <mat-checkbox [color]="checkbox.color"(change)="onUseWaterViscosityChange($event)" [checked]="useCustomWaterViscosity"
                            [disabled]="!customWaterToggle.checked">
                        </mat-checkbox>
                    </span>
                    <mat-form-field class="mat-input-small gw-sureflo-pvt-file-input" appearance="fill" [ngClass]="{'gw-sureflo-disable-input': !useCustomWaterViscosity}">
                        <input id="waterViscosityCalFile" name="WaterViscosityCalibration" matInput
                            [value]="waterViscosityCalFilePath" class="gw-form-label form-baseline" [disabled]="!useCustomWaterViscosity || !customWaterToggle.checked"
                            (click)="browseFileDialog(waterViscosityCalFile)">
                        <input #waterViscosityCalFile hidden="true" type="file" multiple="false" accept=".cal"
                            (change)="onWaterViscosityCalFileChange($event)" />
                        <mat-hint *ngIf="waterViscosityInvalidMsg" class="mat-error">{{waterViscosityInvalidMsg}}</mat-hint>
                    </mat-form-field>
                    <button type="button" mat-button class="mat-button mat-button-primary__icon-only"
                        (click)="browseFileDialog(waterViscosityCalFile)" [disabled]="!useCustomWaterViscosity || !customWaterToggle.checked">
                        <mat-icon class="mat-icon gw-primary-icon" [ngClass]="{'gw-sureflo-disable-input': !useCustomWaterViscosity}">note_add</mat-icon>
                    </button>
                </div>
            </div>

            <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': customWaterToggle.checked}">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Water Specific Gravity</span>
                </div>
                <div class="col-2 px-sm-1">
                    <mat-form-field class="mat-input-small gw-sureflo-input-sm" appearance="fill">
                        <input type="number" matInput name="WaterSpecificGravity" formControlName="WaterSpecificGravity"
                            class="gw-form-label form-baseline" (input)="validateFormControls()" (blur)="validateFormControls()"
                            [disableControl]="customWaterToggle.checked">
                            <mat-hint *ngIf="formCtrlErrorMessage?.WaterSpecificGravity" class="mat-error">
                                {{formCtrlErrorMessage.WaterSpecificGravity}}
                            </mat-hint>
                    </mat-form-field>
                </div>
            </div>

        </div>
    </form>
</section>