<mat-card class="m-2 gw-config-container" cdkTrapFocus>
    <mat-card-content id="gw-mat-card-content">
        <!-- Make sure the tab order defined here matches enum GeneralContentTabOrder -->
        <mat-tab-group animationDuration="0ms" [selectedIndex]="selectedTabIndex" (selectedIndexChange)="onTabChanged($event)"
            class="gw-tab-group">
            <!--General Setting-->
            <mat-tab label="General">
                <!-- <div class="gw-mat-tab-content-box"> -->
                    <app-generalsettings [selectedTab]="selectedTabIndex" [panelConfiguration]="panelConfigurationCommon" [panelSchema]="panelSchema"
                        (isFormValidEvent)="isFormValidEvent($event, generalSettingsTabOrder.GENERAL)"
                        (hasFormChangedEvent)="hasPanelChangedEvent($event)"
                        (generalSettingInvalidEvent)="generalSettingInvalidEvent($event)">
                    </app-generalsettings>
                <!-- </div> -->
            </mat-tab>
            <!--Error Handling-->
            <mat-tab label="Error Handling">
                <!-- <div class="gw-mat-tab-content-box"> -->
                    <app-error-handling-settings [selectedTab]="selectedTabIndex"
                        (isFormValidEvent)="isFormValidEvent($event, generalSettingsTabOrder.ERROR_HANDLING)"
                        (errorHandlingSettingUpdatedEmmiter)="errorHandlingStateChange($event)"
                        (errorHandlingInvalidEvent)="errorHandlingInvalidEvent($event)">
                    </app-error-handling-settings>
                <!-- </div> -->
            </mat-tab>
            <!--Unit System-->
            <mat-tab label="Unit Systems">
                <!-- <div class="gw-mat-tab-content-box"> -->
                    <app-unit-system (unitSystemStateEmmiter)="unitSystemStateChange($event)"></app-unit-system>
                <!-- </div> -->
            </mat-tab>
            <!--Shift Defaults-->
            <mat-tab label="Shift Defaults">
                <!-- <div class="gw-mat-tab-content-box"> -->
                    <gw-inforce-shift-defaults [panelDefaultData]="panelDefaultState?.panelDefaults" (shiftDefaultStateEmmiter)="shiftDefaultStateChange($event)"
                        (isFormValidEvent)="isFormValidEvent($event, generalSettingsTabOrder.SHIFT_DEFAULTS)"></gw-inforce-shift-defaults>
                <!-- </div> -->
            </mat-tab>
            <!--Panel Defaults-->
            <mat-tab label="Panel Defaults">
                <!-- <div class="gw-mat-tab-content-box"> -->
                    <app-panel-defaults [selectedTab]="selectedTabIndex" [panelConfiguration]="panelConfigurationCommon"
                        (panelDefaultStateEmmiter)="panelDefaultStateChange($event)"
                        (alarmsAndLimitsStateEmmiter)="alarmsAndLimitsStateChange($event)"
                        (isFormValidEvent)="isFormValidEvent($event, generalSettingsTabOrder.PANEL_DEFAULTS)"
                        (flowMeterTransmitterTypewarningLabel)="parseFlowMeterTransmitterType($event)"
                        >
                    </app-panel-defaults>
                <!-- </div> -->
            </mat-tab>
            <!--User Account-->
            <mat-tab label="User Accounts">
                <!-- <div class="gw-mat-tab-content-box"> -->
                    <app-useraccounts [clearUsers]="clearUsers"></app-useraccounts>
                <!-- </div> -->
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
        <mat-divider></mat-divider>   
        <div class="d-flex justify-content-between gw-mt-12">
            <div class="d-flex ml-3">
                <div *ngIf="selectedTabIndex === 4 && panelDefaultFlowMeterTransmitterType !=''" class="gw-warning-block mat-error">
                    <mat-icon class="pt-2 gw-warning-icon">warning</mat-icon>
                    <span> {{panelDefaultFlowMeterTransmitterType}} </span>
                </div>
            </div>
            <div>
                <button *ngIf="selectedTabIndex > 0" mat-button class="mat-button-tertiary-sm"
                    (click)="onBackBtnClick()">Back</button>
                <button type="submit" [disabled]="!isCurrentTabValid()" mat-button class="mat-button-primary-sm mr-0"
                    (click)="onSubmit()">{{btnNextText}}</button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>
