.mat-tab-group.mat-tab-group {
  height: calc(100% - 10px);
}

.mat-tab-body-wrapper {
    height: 100% !important;
}

.mat-card.mat-focus-indicator {
    padding-top: 0px;
}

.gw-card-actions {
    height: 36px;
}

.mat-tab-label.mat-tab-disabled{
    opacity: 0.6 !important;
}