.gw-liquid-box {
    position: relative;
    width: 135px;
    height: 66px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 12px;
}

.gw-liquid-box-text {
    font-family: "Poppins semibold";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}