.newValueField {
    width: 150px;
}

.newValueText {
    text-align: center;
    width: 45%;
}

.gw-baudrate-icon {
    font-size     : 18px;
    vertical-align: sub;
}


.gw-baudrate-block>span {
    vertical-align: middle;
}