<section id="surefloExGaugeSection" class="container-fluid px-4 pt-2">

    <form [formGroup]="surefloExGaugeForm" autocomplete="off" novalidate>
        <div class="row p-b-18">
            <span class="mat-subtitle-2">Gauge Data</span>
        </div>
        <div class="container-fluid">
            <div class="row p-b-4">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Inlet Diameter (in)</span>
                </div>
                <div class="col px-sm-1">
                    <mat-form-field class="mat-input-small" appearance="fill">
                        <input matInput  type="number" formControlName="InletDiameter" name="InletDiameter" class="mat-body-2 form-baseline"
                            (input)="validateFormControls()" (blur)="validateFormControls()">
                        <mat-hint *ngIf="formCtrlErrorMessage?.InletDiameter" align="start" class="mat-error">
                           {{formCtrlErrorMessage.InletDiameter}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row p-b-4">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Outlet Diameter (in)</span>
                </div>
                <div class="col px-sm-1">
                    <mat-form-field class="mat-input-small" appearance="fill">
                        <input matInput  type="number" formControlName="OutletDiameter"  name="OutletDiameter" class="mat-body-2 form-baseline"
                        (input)="validateFormControls()" (blur)="validateFormControls()">
                        <mat-hint *ngIf="formCtrlErrorMessage?.OutletDiameter" align="start" class="mat-error">
                            {{formCtrlErrorMessage.OutletDiameter}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div class="row p-b-4">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Inlet Tolerance (in)</span>
                </div>
                <div class="col px-sm-1">
                    <mat-form-field class="mat-input-small" appearance="fill">
                        <input matInput  type="number" formControlName="InletTolerance"  name="InletTolerance" class="mat-body-2 form-baseline"
                        (input)="validateFormControls()" (blur)="validateFormControls()">
                        <mat-hint *ngIf="formCtrlErrorMessage?.InletTolerance" align="start" class="mat-error">
                            {{formCtrlErrorMessage.InletTolerance}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row p-b-4">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Outlet Tolerance (in)</span>
                </div>
                <div class="col px-sm-1">
                    <mat-form-field class="mat-input-small" appearance="fill">
                        <input matInput  type="number" formControlName="OutletTolerance" name="OutletTolerance" class="mat-body-2 form-baseline"
                        (input)="validateFormControls()" (blur)="validateFormControls()">
                        <mat-hint *ngIf="formCtrlErrorMessage?.OutletTolerance" align="start" class="mat-error">
                            {{formCtrlErrorMessage.OutletTolerance}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>

            <div class="row p-b-4">
                <div class="col-md-5 col-lg-4 p-1">
                    <span class="gw-form-label">Static Correction (psi)</span>
                </div>
                <div class="col px-sm-1">
                    <mat-form-field class="mat-input-small" appearance="fill">
                        <input matInput  type="number" formControlName="StaticCorrection" name="StaticCorrection" class="mat-body-2 form-baseline"
                        (input)="validateFormControls()" (blur)="validateFormControls()">
                        <mat-hint *ngIf="formCtrlErrorMessage?.StaticCorrection" align="start" class="mat-error">
                            {{formCtrlErrorMessage.StaticCorrection}}
                        </mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <ng-container *ngIf="!fluidTypeGasVisibility && !fluidTypeWaterVisibility && remoteGaugeSecVisibility">
                <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': !remoteGaugeSecVisibility}">
                    <div class="col-md-5 col-lg-4 p-1">
                        <span class="gw-form-label">Remote Diameter (in)</span>
                    </div>
                    <div class="col px-sm-1">
                        <mat-form-field class="mat-input-small" appearance="fill">
                            <input matInput type="number" formControlName="RemoteDiameter" name="RemoteDiameter"
                                class="mat-body-2 form-baseline" [readonly]="!remoteGaugeSecVisibility" (input)="validateFormControls()" (blur)="validateFormControls()">
                            <mat-hint *ngIf="formCtrlErrorMessage?.RemoteDiameter" align="start" class="mat-error">
                                {{formCtrlErrorMessage.RemoteDiameter}}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            
                <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': !remoteGaugeSecVisibility}">
                    <div class="col-md-5 col-lg-4 p-1">
                        <span class="gw-form-label">Remote Tolerance (in)</span>
                    </div>
                    <div class="col px-sm-1">
                        <mat-form-field class="mat-input-small" appearance="fill">
                            <input matInput type="number" formControlName="RemoteTolerance" name="RemoteTolerance"
                                class="mat-body-2 form-baseline" [readonly]="!remoteGaugeSecVisibility" (input)="validateFormControls()" (blur)="validateFormControls()">
                            <mat-hint *ngIf="formCtrlErrorMessage?.RemoteTolerance" align="start" class="mat-error">
                                {{formCtrlErrorMessage.RemoteTolerance}}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            
                <div class="row p-b-10" [ngClass]="{'gw-sureflo-disable-input': !remoteGaugeSecVisibility}">
                    <div class="col px-1 pb-2">
                        <mat-radio-group formControlName="RemotePosition" color={{radioBtnConfig.color}}>
                            <mat-radio-button value="Upstream" [disableRipple]="true">Upstream</mat-radio-button>
                            <mat-radio-button value="Downstream" [disableRipple]="true">Downstream</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            
                <div class="row p-b-4" [ngClass]="{'gw-sureflo-disable-input': !remoteGaugeSecVisibility}">
                    <div class="col-md-5 col-lg-4 p-1">
                        <span class="gw-form-label">Density Static Correction (psi)</span>
                    </div>
                    <div class="col px-sm-1">
                        <mat-form-field class="mat-input-small" appearance="fill">
                            <input matInput type="number" formControlName="DensityStaticCorrection" name="DensityStaticCorrection"
                                class="mat-body-2 form-baseline" [readonly]="!remoteGaugeSecVisibility" (input)="validateFormControls()" (blur)="validateFormControls()">
                            <mat-hint *ngIf="formCtrlErrorMessage?.DensityStaticCorrection" align="start" class="mat-error">
                                {{formCtrlErrorMessage.DensityStaticCorrection}}
                            </mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </ng-container>
        </div>

    </form>

</section>