body { background-color: #161719; }

.navbar-brand { color: #fff;}

.card {
    background-color: #212124;
    border: 1px solid #141414;
}

.card-title, .card .card-content { color: #d8d9da;}

.card-sub-title { color: #fff;}

.badge-icon { color:#d8d9da}