<section class="m-2">
  <div class="container-fluid">
    <div class="row d-flex justify-content-between p-b-10">
      <span class="mat-subtitle-2">User Details</span>

      <button mat-button class="mat-button-tertiary-sm mat-button-tertiary-sm__icon gw-add-btn" (click)="addRow()"> 
        <mat-icon class="mat-icon-left mat-icon">add</mat-icon>Add Users
      </button>
    </div>
  </div>

    <div class="gw-user-grid">
      <div #tooltipRef="tooltip" igxTooltip class="gw-grid-tooltip">
        <ng-container *ngIf="tooltipRef.context">
          {{tooltipRef.context.value}}
        </ng-container>
      </div>
      <igx-grid igxPreventDocumentScroll #gridUserAccounts id="gw-user-account-grid"
        [data]="userAccounts" [emptyGridMessage]="'No Custom Users are configured.'" [primaryKey]="'Id'" width="100%" >
          <!-- <igx-column [headerClasses]="'mat-header-cell'" field="Id" header="Id" [dataType]="'number'"></igx-column> -->
          <igx-column [headerClasses]="'mat-header-cell'" field="Name" header="Username" [dataType]="'string'">
            <ng-template igxCell let-cell="cell">
              <span [igxTooltipTarget]="tooltipRef" (onTooltipShow)="tooltipRef.context=cell" hideDelay="50" class="gw-grid-row-tooltip">
                  {{cell.value}}
              </span>
            </ng-template>
          </igx-column>
          <igx-column [headerClasses]="'mat-header-cell'" field="Password" header="Password" [dataType]="'string'">
            <ng-template igxCell let-value>
              ********
            </ng-template>
          </igx-column>
          <igx-column [headerClasses]="'mat-header-cell'" field="AccessLevel" header="Access Level">
            <ng-template igxCell let-value>
              {{userRoles[value]}}
            </ng-template>
            <ng-template igxCellEditor let-cell="cell">
              <mat-select class="mat-body-2 form-baseline" [(ngModel)]="cell.editValue">
                <mat-option *ngFor="let role of arrUserRoles | slice:1" [value]="role">{{userRoles[role]}}</mat-option>
              </mat-select>
            </ng-template>
          </igx-column>
          <igx-column width="100px" [filterable]="false" [editable]="false">
            <ng-template igxCell let-cell="cell">
              <!-- <button mat-button class="mat-button-sm mat-button-primary-sm__icon-only" (click)="editRowValues(cell.row.rowID)">
                <mat-icon class="mat-icon--sml">edit</mat-icon>
              </button>
              <button mat-button class="mat-button-sm mat-button-primary-sm__icon-only" (click)="deleteRow(cell.row.index, cell.row.rowID)">
                <mat-icon class="mat-icon--sml">delete</mat-icon>
              </button> -->

              <a href="javascript:void(0);" class="gw-icon-btn p-r-10" (click)="editRowValues(cell.row.rowID)">
                <mat-icon class="mat-icon--sml">edit</mat-icon>
              </a>
              <a href="javascript:void(0);" class="gw-icon-btn" (click)="deleteRow(cell.row.index, cell.row.rowID)">
                <mat-icon class="mat-icon--sml">delete</mat-icon>
              </a>
            </ng-template>
        </igx-column>
        <!-- <ng-template igxRowEditText let-rowChangesCount>
          <span *ngIf="validationMssg == null" class="changes"> Changes: {{rowChangesCount}}</span>
          <span *ngIf="validationMssg != null" class="mat-caption mat-error"> Error: {{validationMssg}}</span>
        </ng-template> -->

        <ng-template igxRowEditActions let-endRowEdit>
          <div class="custom-buttons">
            <button mat-button class="mat-button-text-sm" (click)="endRowEdit(false)">Cancel</button>
            <button mat-button class="mat-button-primary-sm ml-1" (click)="endRowEdit(true)">Save</button>
          </div>
        </ng-template>
      </igx-grid>
    </div>

   
</section>
