<section class="m-0 gw-downhole-position-dialog-container bh-table">
    <table mat-table [dataSource]="zoneList" class="gw-mat-table">

        <!-- Zone Column -->
        <ng-container matColumnDef="ZoneName">
            <th mat-header-cell *matHeaderCellDef>Zone Name</th>
            <td mat-cell *matCellDef="let zone">{{zone.ZoneName}}
            </td>
        </ng-container>

        <!-- Current position Column -->
        <ng-container matColumnDef="CurrentPosition">
            <th mat-header-cell *matHeaderCellDef>Current Valve Position</th>
            <td mat-cell *matCellDef="let zone"> {{zone.CurrentPositionStateUnknownFlag ? "Unknown"
                :zone.CurrentTargetPosition.Description}} </td>
        </ng-container>

        <!-- New Position Column -->
        <ng-container matColumnDef="NumberOfPositions">
            <th mat-header-cell *matHeaderCellDef>New Set Position</th>
            <td mat-cell *matCellDef="let zone">
                <mat-form-field class="mat-select-small gw-valve-position-select gw-select-200" appearance="fill"
                    [ngClass]="{'gw-target-valve-position': zone.CurrentTargetPosition.Description !== zone.SelectedTargetPosition.Description}">
                    <mat-select class="gw-form-label form-baseline" [(value)]="zone.SelectedTargetPosition.Description"
                        (selectionChange)="onValvePositionChange($event, zone.ZoneId)">
                        <mat-option *ngFor="let valvePostion of zone.TargetValvePositionDd"
                            [value]="valvePostion.Description">
                            {{valvePostion.Description}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
<!-- <mat-divider></mat-divider> -->
<div mat-dialog-actions class="d-flex justify-content-end gw-adv-mat-dialog-actions">
    <button type="submit" mat-button class="mat-button-tertiary-sm mr-2" (click)="OnCancel()">CANCEL</button>
    <button type="submit" mat-button class="mat-button-primary-sm" [disabled]="!updateBtnVisiblity"
        (click)="OnSubmit()">
        UPDATE
    </button>
</div>