<div class="d-flex">
    <label class="pt-2 pr-0 mat-body-2 gw-date-picker-label">{{labelText}}</label>
    <div class="gw-historian-time-picker-container pl-1">
        <mat-form-field>
            <input matInput class="pl-2" [ngxMatDatetimePicker]="picker" placeholder="" [formControl]="dateControl"
                [min]="minDate" [max]="maxDate">
            <mat-hint align="start" class="mat-error pl-2">{{errorMessage}}</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="true" [stepHour]="1" [stepMinute]="1"
                [stepSecond]="1" [touchUi]="true" [color]="'primary'" [enableMeridian]="false">
            </ngx-mat-datetime-picker>
        </mat-form-field>
    </div>
</div>