.gw-calibration-container {
    height: calc(100% - 50px);
}

.gw-calibration-container .mat-tab-body-content {
    height: 400px;
}

.mat-card.mat-focus-indicator {
    padding-top: 0px;
}
