@import 'base.scss';

.mat-tab-group.mat-tab-group {
    height: calc(100vh - 16rem);
}

.mat-card-content {
    margin-bottom: 0;
}

.gw-monitoring-row {
    margin: 0 -10px;
}

.gw-monitoring-mat-card-container {
    margin-top: 0.2px;
}

.gw-monitoring-card,
.gw-monitoring-tab-group {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.mat-card .mat-card-actions {
    width: 100%;
}

.gw-config-container-ex {
    height: calc(100vh - 11rem);
    overflow: hidden;

}

.mat-card.mat-focus-indicator {
    padding: 0px !important;
}

:host ::ng-deep .gw-multinode-monitoring-container .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: transparent !important;
}

.gw-multinode-monitoring-container {
    width: 100%;
    overflow: hidden;
    // height: calc(100vh - 125px);   
}

.gw-multinode-monitoring-pagination {
    align-items: center;
    height: 100%;
    gap: 5px;
}

%gw-multinode-pagination {
    width: 28px;
    height: 28px;
    line-height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gw-multinode-pagination-icon {
    @extend %gw-multinode-pagination;
    border: 1px solid $gw-secondary-color-500;
    background-color: $gw-secondary-color-200;
    color: $gw-secondary-color-600;
    cursor: pointer;
}

.gw-multinode-pagination-icon-selected {
    @extend %gw-multinode-pagination;
    border: 1px solid $gw-secondary-color-500;
    background-color: $gw-primary-color-100;
}

.gw-multinode-pagination-icon-content {
    font-family: 'Poppins semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
}

.gw-actuate-button {
    // text-transform: uppercase !important;
}
