<section class="gw-inforce-shift-modal-container m-4">
    <ng-container *ngIf="zone">
        <div class="col-12 px-0">
            <div class="mat-subtitle-2">{{zone?.WellName}} - {{zone?.ZoneName}}</div>
            <div class="mat-body-2 pt-2 pb-2" *ngIf="zone.isPositionValid">
                <span>{{zone?.CurrentTargetPosition}}</span>
                <span class="mx-2 gw-inforce-shift-icon">
                    <mat-icon>arrow_right_alt</mat-icon>
                </span>
                <span class="gw-target-valve-position">
                    {{ zone?.SelectedTargetPosition}}
                </span>
            </div>
            <ng-container *ngIf="!zone.isPositionValid">
                <div class="mat-body-2 pt-2 pb-2">
                    <span>{{zone?.CurrentTargetPosition}}</span>
                    <span class="mx-2 gw-inforce-shift-icon">
                        <mat-icon>arrow_right_alt</mat-icon>
                    </span>
                    <span class="gw-target-valve-position">
                        {{openPosition}}
                    </span>
                </div>
                <div class="mat-body-2 pb-2" *ngIf="!zone.isPositionValid">
                    <span>{{openPosition}}</span>
                    <span class="mx-2 gw-inforce-shift-icon">
                        <mat-icon>arrow_right_alt</mat-icon>
                    </span>
                    <span class="gw-target-valve-position">
                        {{closePosition}}
                    </span>
                </div>
            </ng-container>
        </div>
    </ng-container>
</section>
<!-- <mat-divider></mat-divider> -->
<div mat-dialog-actions class="d-flex justify-content-end gw-adv-mat-dialog-actions">
    <button type="submit" mat-button class="mat-button-tertiary-sm mr-2" (click)="OnCancel()">CANCEL</button>
    <button type="submit" mat-button class="mat-button-primary-sm" (click)="OnActuateBtnClick()">BEGIN
        ACTUATION</button>
</div>