
::ng-deep #surefloAddParamSection .mat-form-field-appearance-fill {
    padding: 0em 0.6em 0 0.6em;
}

::ng-deep #surefloAddParamSection .mat-form-field-wrapper {
    margin-bottom: -0.375em;
}

#surefloAddParamSection {
    height: 480px;
}

#surefloAddParamSection .mat-input-small .mat-error {
    margin-top: -4px;
}

::ng-deep #surefloAddParamSection .mat-form-field-subscript-wrapper {
    width: 22vh;
}