::ng-deep .gw-ip-address-wrapper.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper{
    width: 170px !important;
}

.mat-form-field-appearance-fill { 
    padding: 0;
}

.gw-network-input {
    width: 60px;
}