@import 'base.scss';


.gw-multinode-actuation-modal-container {
    margin: 1rem 1rem 1.5rem 20px;
}

.gw-actuation-container {
    border-radius: 0px;
    box-shadow: 0 0 0 1px $gw-mat-table-box-shadow-color  !important;
}

.label-two-lines-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}


.gw-mat-table {
    width: 100%;

    tbody tr:last-child td:last-child {
        border-bottom-color: transparent;
    }

    .zone {
        @media screen and (max-width: 420px) {
            padding-left: 5px !important;
        }
    }

    .target-value {
        @media screen and (max-width: 420px) {
            padding-right: 5px !important;
            padding-left: 5px;
        }
    }
}

.gw-actuation-container .mat-table .mat-cell {
    padding-top: 0px;
    padding-bottom: 0px;
}


:host ::ng-deep .gw-valve-position-select {
    .mat-form-field-wrapper {
        margin-bottom: -0.825em;
    }
}

.mat-column-ZoneName {
    width: 36%;
    font-size: 12px;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }

    @media screen and (max-width: 420px) {
        padding-right: 5px !important;
        font-size: 12px;
    }

    @media screen and (min-width: 421px) {
        padding-left: 10px !important;
    }
}

.mat-column-CurrentPosition {
    width: 32%;
    padding-right: 15px;
    font-size: 12px;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }

    @media screen and (max-width: 420px) {
        width: 35%;
        padding-right: 5px !important;
        padding-left: 10px !important;
        font-size: 12px;
    }
}

.mat-column-NumberOfPositions {
    font-size: 12px;

    @media screen and (max-width: 768px) {
        font-size: 12px;
    }

    @media screen and (min-width: 421px) {
        padding-right: 12px !important;
    }

    @media screen and (max-width: 420px) {
        font-size: 12px;
    }
}

.gw-target-dropdown {
    padding-left: 0;
    padding-right: 0;

    @media screen and (max-width: 375px) {
        width: 110px;
    }

    @media screen and (min-width: 376px) and (max-width: 420px) {
        width: 125px;
    }

    width: 200px;

    ::ng-deep {
        mat-select {
            span {
                font-size: 14px;

                @media screen and (max-width: 768px) {
                    font-size: 12px;
                }

                @media screen and (max-width: 420px) {
                    font-size: 12px;
                }
            }

            mat-option {
                span {
                    font-size: 14px;

                    @media screen and (max-width: 768px) {
                        font-size: 12px;
                    }

                    @media screen and (max-width: 420px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

::ng-deep .gw-target-option {
    .mat-option-text {
        font-size: 14px;

        @media screen and (max-width: 768px) {
            font-size: 12px;
        }

        @media screen and (max-width: 420px) {
            font-size: 12px;
        }
    }
}

.zone-reset {
    background: $gw-alarm-alert-critical;
    //font-weight: 600;
}

::ng-deep .gw-inforce-shift-dialog {
    @media screen and (max-width: 480px) {
        width: 100vw !important;

        .mat-dialog-container {
            border: none;
            border-radius: 0 !important;
        }
    }

    @media screen and (min-width: 481px) and (max-width: 750px) {
        width: 92vw !important;
    }
}